<div class="bg-[var(--color1)] mx-2 rounded-lg py-2 mb-2 text-white">
    <div class="flex justify-between py-1">
        <span class="font-semibold ml-4">WizLance</span>
        <span class="font-thin mr-4">WizLance 2023&copy</span>
    </div>
</div>
