<div class="bg-[var(--color5)] py-2 text-white">

  <div class="flex justify-start">
    <ul class="categories mx-4 mb-2">
      <span class="font-bold">Categories</span>
      <li>&nbsp;</li>


        <li><a href="/mainpage/Graphic Design">Graphics & Design</a></li>
        <li><a href="/mainpage/Music Audio">Music Audio</a></li>
        <li><a href="/mainpage/programming-tech">Programming and Tech</a></li>
        <li><a href="/mainpage/photography">Photography</a></li>
        <li><a href="/mainpage/Animation">Animation</a></li>
        <li><a href="/mainpage/writing-translation">Writing</a></li>

      
    </ul>
    <ul class="categories mx-4 mb-2">
      <span class="font-bold">Support</span>
      <li>&nbsp;</li>
      <li><a href="/contact"> Contact Us</a></li>
    </ul>
  </div>
  <hr class="mx-4">
  <div class="flex justify-between py-1">
    <span class="font-semibold ml-4">WizLance</span>
    <span class="font-thin mr-4">WizLance 2023&copy</span>
  </div>
</div>

<script src="https://unpkg.com/@themesberg/flowbite@latest/dist/flowbite.bundle.js"></script>