<div class="bg-[var(--color1)] mx-2 rounded-lg py-2 mb-2 text-white">

    <div class="flex justify-start">
        <ul class="categories mx-4 mb-2">
            <span class="font-bold">Categories</span>
            <li>&nbsp;</li>
            <li><a href="/graphics-design">Graphics & Design</a></li>
            <li><a href="/music-audio">Music & Audio</a></li>
            <li><a href="/programming-tech">Programming & Tech</a></li>
            <li><a href="/photography">Photography</a></li>
            <li><a href="/animation">Animation</a></li>
            <li><a href="/writing-translation">Writing</a></li>
        </ul>
        <ul class="categories mx-4 mb-2">
            <span class="font-bold">Support</span>
            <li>&nbsp;</li>
            <li><a>Contact Us</a></li>
        </ul>
    </div>
    <hr class="mx-4">
    <div class="flex justify-between py-1">
        <span class="font-semibold ml-4">WizLance</span>
        <span class="font-thin mr-4">WizLance 2023&copy</span>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>