<div class="bg-transparent text-base text-gray-100 flex flex-col flex-wrap items-center sm:flex-row sm:justify-between p-2">
    <span class='font-extrabold ml-3'><a href="/mainpage"><img src="/images/WizlanceLogo.png "
                width="180px"></a></span>
    <nav class="flex items-center text-base">
        <p class="m-1 hidden sm:block">Search</p>
        <input type="text" class="hidden sm:block text-black search-inp rounded-lg m-4 p-1">
        <button class="bg-[var(--color4)] text-black m-1 p-2 rounded-lg "><a href="/login" class="">Login</a></button>
        <button class=" m-1 p-1 rounded-lg "><a href="/signup">Sign up</a></button>
    </nav>
</div>