<div class="header text-base text-gray-100 flex flex-col flex-wrap items-center sm:flex-row sm:justify-between p-2">
    <span class="ml-2"><a href=""><img src="./images/WizlanceLogo.png" alt="WizLance" width="180px"></a></span>
    <nav class="flex items-center text-base justify-center">
        <p class="m-1 hidden sm:block">Search</p>
        <input type="text" class="hidden sm:block search-inp rounded-lg">
        <button class="border-2 m-1 p-1 rounded-lg bg-[var(--color5)]"><a href="/login" class="">Login</a></button>
        <button class="border-2 m-1 p-1 rounded-lg text-[var(--color1)] bg-white"><a href="/signup">Sign up</a></button>
    </nav>
</div>