<div class="bg-[var(--color1)] text-base text-gray-100 flex flex-col flex-wrap items-center sm:flex-row sm:justify-between p-2">
    <span class="ml-2"><a href="/admin-dashboard"><img src="/images/WizlanceLogo.png" alt="WizLance" width="180px"></a></span>
    <nav class="flex items-center text-base justify-center">
        
        <button class="border-2 m-1 p-1 rounded-lg bg-[var(--color5)]"><a href="/admin-users" class="">Users</a></button>
        <button class="border-2 m-1 p-1 rounded-lg bg-[var(--color5)]"><a href="/admin-gigs" class="">Gigs</a></button>
        <button class="border-2 m-1 p-1 rounded-lg bg-[var(--color5)]"><a href="/admin-categories">Categories</a></button>
        <button class="border-2 m-1 p-1 rounded-lg bg-[var(--color5)]"><a href="/">Site</a></button>
    </nav>
</div>