<div
    class="bg-[var(--color1)] text-base text-gray-100 flex flex-col flex-wrap items-center sm:flex-row sm:justify-between p-2">
    <span class='font-extrabold ml-3'><a href="/mainpage"><img src="/images/WizlanceLogo.png " width="180px"></a></span>
    <nav class="flex items-center text-base">
        <p class="m-1 hidden sm:block">Search</p>
        <input type="text" class="hidden sm:block text-black search-inp rounded-lg m-4 p-1">
        <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown"
            class="text-white bg-white  hover:border-blue-300 hover:border-2 font-thin rounded-full text-sm p-5 text-center inline-flex items-center"></button>

        <div id="dropdown"
            class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                <li>
                    <a href="/dashboard"
                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                </li>
                <li>
                    <a href="/signout"
                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign
                        out</a>
                </li>
            </ul>
    </nav>
</div>