<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/custom.css">
    <title>WizLance</title>
</head>

<body>
    <header class="header text-[18px] py-3">
        <nav class="flex justify-between mx-4 items-center">
            <span class="w-[50%] font-bold">WizLance</span>
            <ul class="w-[50%] flex gap-4 items-center justify-end flex-shrink-1">
                <li><a>Explore</a></li>

                <input class="w-[25%] rounded-2xl p-1 text-[var(--color1)] text-center" type="text" name="search-bar" id="search-bar" placeholder="search">

                <li class="toggle-login border-2 p-1 rounded-md"> <button> <a>Login</a></button></li>

                <button class="border-2 rounded-md p-1 bg-white text-[var(--color1)] font-bold toggle-login"><a>Sign up</a></button>
                <li class="account-toggle hidden"><a>Account</a></li>
            </ul>
        </nav>
    </header>