<div class="bg-[var(--color2)] text-base text-gray-100 flex flex-col flex-wrap items-center sm:flex-row sm:justify-between p-2">
  <span class="ml-2"><a href="/mainpage"><img src="/images/WizlanceLogo.png" alt="WizLance" width="180px"></a></span>
</div>