<div class="bg-transparent text-base text-gray-100 flex flex-col flex-wrap items-center sm:flex-row sm:justify-between p-2">
  <span class='font-extrabold ml-3'><a href="/mainpage"><img src="/images/WizlanceLogo.png " width="180px"></a></span>
  <nav class="flex items-center text-base">
    <p class="m-1 hidden sm:block">Search</p>
    <form action="/<%= category.name %>/search-gig" method="post">
      <input type="text" placeholder="Search here" name="query" class="hidden sm:block text-black search-inp rounded-lg m-4 p-1">
    </form>
    <div class="max-w-lg mx-auto">

      <button class="h-11 w-11  bg-white rounded-full border-2 text-black border-green-500" type="button" data-dropdown-toggle="dropdown">
        <%= profileLogo %>
      </button>

      <div class="hidden bg-white text-base z-50 list-none divide-x divide-gray-100 rounded shadow my-4" id="dropdown">

        <ul class="py-1" aria-labelledby="dropdown">
          <li>
            <a href="/dashboard" class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2">Dashboard</a>
          </li>
          <li>
            <a href="/" class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2">Sign out</a>
          </li>
        </ul>
      </div>


    </div>

  </nav>
</div>