<div class="bg-[var(--color1)] text-base text-gray-100 flex flex-col flex-wrap items-center sm:flex-row sm:justify-between p-2">
    <span class="ml-2"><a href="/mainpage"><img src="/images/WizlanceLogo.png" alt="WizLance" width="180px"></a></span>
    <nav class="flex items-center text-base justify-center">
        <p class="m-1 hidden sm:block">Search</p>
        <input type="text" class="hidden sm:block search-inp rounded-lg">
    </nav>
</div>