<div class="bg-transparent text-base text-gray-100 flex flex-col flex-wrap items-center sm:flex-row sm:justify-between p-2">
    <span class='font-extrabold ml-3'><a href="/mainpage"><img src="./images/WizlanceLogo.png "
                width="180px"></a></span>
    <nav class="flex items-center text-base">
        <p class="m-1 hidden sm:block">Search</p>
        <input type="text" class="hidden sm:block text-black search-inp rounded-lg m-4 p-1">
        <button class="h-10 w-10  bg-white rounded-full border-4 border-cyan-300">
    </nav>
</div>