
<%- include('partials/header') %>
<body>
     <main>
        <div class="p-4">
            <h1 class="text-5xl w-[50%]">The freelancer hub you've been searching for.</h1>
        </div>
    </main>
</body>

   <%- include('partials/footer') %>
