:root{
    --color1:  #fcf7f8;
    --color2:  #211c4f;
    --color3:  #ccc6cc; 
    --color4:  #eeaeb1;
    --color5:  #cfd0ff;
    --color6:  #e6561a;
    --color7:  #f0ac39;
    --color8:  #392b4f;
    font-family: 'Raleway', 'sans-serif';
}

.footer li{
    font-weight: lighter;
}