:root{
    --color1:  #0B0C10;
    --color2:  #1F2833;
    --color3:  #C5C6C7; 
    --color4:  #66FCF1;
    --color5:  #45A29E;

    font-family: 'Raleway', 'sans-serif';
}

.footer li{
    font-weight: lighter;
}