:root{
    --color1:  #fcf7f8;
    --color2:  #211c4f;
    --color3:  #bab0ba; 
    --color4:  #eeaeb1;
    --color5:  #7d7ebe;
    --color6:  #e6561a;
    --color7:  #f0ac39;
    --color8:  #322645;
    font-family: 'Raleway', 'sans-serif';
}

.footer li{
    font-weight: lighter;
}