<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body class="box-border">
  <header>
    <%- include('../partials/header_temp') %>
  </header>



  <div class="sub-categories flex flex-wrap justify-evenly font-light p-4">

    <div class="xl:w-1/5 md:w-1/2 w-1/2 p-4 border-2 rounded-lg border-black flex justify-center items-center m-1">
      <a href="/admin-users">
        <h2 class="text-2xl font-bold">Users</h2>
        <br>
      </a>
    </div>
    <div class="xl:w-1/5 md:w-1/2 w-1/2 p-4 border-2 rounded-lg border-black flex justify-center items-center m-1">
      <a href="/admin-categories">
        <h2 class="text-2xl font-bold">Categories</h2>
        <br>
      </a>
    </div>
    <div class="xl:w-1/5 md:w-1/2 w-1/2 p-4 border-2 rounded-lg border-black flex justify-center items-center m-1">
      <a href="/admin-gigs">
        <h2 class="text-2xl font-bold">Gigs</h2>
        <br>
      </a>
    </div>
    <div class="xl:w-1/5 md:w-1/2 w-1/2 p-4 border-2 rounded-lg border-black flex justify-center items-center m-1">
      <a href="/admin-sendMail">
        <h2 class="text-2xl font-bold">Send Mail</h2>
        <br>
      </a>
    </div>

    <div class="xl:w-1/5 md:w-1/2 w-1/2 p-4 border-2 rounded-lg border-black flex justify-center items-center m-1">
      <a href="/admin-messages">
        <h2 class="text-2xl font-bold">Messages</h2>
        <br>
      </a>
    </div>

  </div>
</body>