<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/header_nol') %>
    </header>



    <form action="/contact-us" method="post">
        <div class="flex items-center justify-center py-10 ">
            <div class=" bg-slate-300 shadow rounded py-12 lg:px-28 px-8">
                <p class="md:text-3xl text-xl font-bold leading-7 text-center text-gray-700 font-semibold">GET IN TOUCH
                    WITH
                    US</p>

                <div class="md:flex items-center mt-12">
                    <div class="md:w-72 flex flex-col">
                        <label class="text-base font-semibold leading-none text-gray-800">Name</label>
                        <input type="text" class="text-base leading-none text-gray-900 p-3 mt-4" />
                    </div>
                    <div class="md:w-72 flex flex-col md:ml-6 md:mt-0 mt-4">
                        <label class="text-base font-semibold leading-none text-gray-800">Phone Number</label>
                        <input type="text" class="text-base leading-none text-gray-900 p-3 mt-4" />
                    </div>
                </div>

                <div class=" md:flex items-center mt-8">

                    <div class="flex flex-col w-[100%] mt-4">
                        <label class="text-base font-semibold leading-none text-gray-800">Email Address</label>
                        <input tabindex="0" class="text-base leading-none text-gray-900 p-3 mt-4" />
                    </div>
                </div>

                <div>
                    <div class="w-full flex flex-col mt-8">
                        <label class="text-base font-semibold leading-none text-gray-800">Message</label>
                        <textarea tabindex="0" aria-label="leave a message" role="textbox"
                            class="h-36 text-base leading-none text-gray-900 p-3 mt-4 resize-none"></textarea>
                    </div>
                </div>

                <div class="flex items-center justify-center w-full">
                    <button
                        class="mt-9 text-base font-semibold leading-none text-white py-4 px-10 bg-indigo-700 rounded hover:bg-indigo-600 focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 focus:outline-none"><a
                            href="/">SUBMIT</a>
                    </button>

                </div>
            </div>
        </div>
    </form>

    <footer>
        <%- include('../partials/footer') %>
      </footer>

    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</body>