<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>
<body>
    <div>
        <% categories.forEach(category => {%> 
            <%= category.name %>
            
            <% category.subCategories.forEach(subcategory => {%> 
                <%= subcategory.name %>
            <%}) %>

            <hr>
        <%}) %>
    </div>
</body>
</html>