<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <div class="bg-[url('https://images.unsplash.com/photo-1497091071254-cc9b2ba7c48a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGdyYXBoaWMlMjBkZXNpZ258ZW58MHx8MHx8&w=1000&q=80')] bg-cover">
    <header>
      <% if(loggedIn === true){ %>
      <%- include('../partials/header_category') %>
      <% } else{ %>
      <%- include('../partials/header_category_nol') %>
      <% } %>
    </header>

    <div class="text-white font-bold items-center flex justify-center p-40 text-4xl h-40 pb-14">
      <h1>GRAPHICS & DESIGN</h1>
    </div>
    <br> <br> <br> <br>
  </div>

  <div>
    <div class="sub-categories flex flex-wrap justify-evenly font-light p-4">

      <% if (loggedIn === true) { %>

      <div class="sc xl:w-1/5 md:w-1/2 p-4">
        <a href="/mainpage/graphics design/logo design">
          <img class="h-40 rounded-lg w-full object-cover object-center border-2" src="https://blog.placeit.net/wp-content/uploads/2022/05/Famous-Logos-and-What-You-Can-Learn-from-Them.png"><br>
          <h1 class="text-2xl font-bold">Logo Design</h1>
          ehfvng<br>
        </a>
      </div>
      <div class="sc xl:w-1/5 md:w-1/2 p-4">
        <a href="/mainpage/graphics design/UI UX">
          <img class="h-40 rounded-lg w-full object-cover object-center border-2" src="https://img.freepik.com/free-vector/gradient-ui-ux-background_23-2149052117.jpg"><br>
          <h1 class="text-2xl font-bold">UI/UX</h1>
          ehfvng<br>
        </a>
      </div>
      <div class="sc xl:w-1/5 md:w-1/2 p-4">
        <a href="/mainpage/graphics design/Illustrations">
          <img class="h-40 rounded-lg w-full object-cover object-center border-2" src="https://i.pinimg.com/originals/4e/4e/26/4e4e26cae6106d9c7dd6333083599553.png"><br>
          <h1 class="text-2xl font-bold">Illustrations</h1>
          ehfvng<br>
        </a>
      </div>

      <div class="sc xl:w-1/5 md:w-1/2 p-4">
        <a href="/mainpage/graphics design/Web Design">
          <img class="h-40 rounded-lg w-full object-cover object-center border-2" src="https://assets.justinmind.com/wp-content/uploads/2020/02/website-background-design-guide-768x492.png"><br>
          <h1 class="text-2xl font-bold">Web Design</h1>
          ehfvng<br>
        </a>
      </div>

      <% } else { %>
      <div class="sc xl:w-1/5 md:w-1/2 p-4">

        <a href="/landing page/graphics design/logo design">

          <img class="h-40 rounded-lg w-full object-cover object-center border-2" src="https://blog.placeit.net/wp-content/uploads/2022/05/Famous-Logos-and-What-You-Can-Learn-from-Them.png"><br>
          <h1 class="text-2xl font-bold">Logo Design</h1>
          ehfvng<br>
        </a>
      </div>
      <div class="sc xl:w-1/5 md:w-1/2 p-4">
        <a href="/landing page/graphics design/UI UX">
          <img class="h-40 rounded-lg w-full object-cover object-center border-2" src="https://img.freepik.com/free-vector/gradient-ui-ux-background_23-2149052117.jpg"><br>
          <h1 class="text-2xl font-bold">UI/UX</h1>
          ehfvng<br>
        </a>
      </div>
      <div class="sc xl:w-1/5 md:w-1/2 p-4">
        <a href="/landing page/graphics design/Illustrations">
          <img class="h-40 rounded-lg w-full object-cover object-center border-2" src="https://i.pinimg.com/originals/4e/4e/26/4e4e26cae6106d9c7dd6333083599553.png"><br>
          <h1 class="text-2xl font-bold">Illustrations</h1>
          ehfvng<br>
        </a>
      </div>

      <div class="sc xl:w-1/5 md:w-1/2 p-4">
        <a href="/landing page/graphics design/Web Design">
          <img class="h-40 rounded-lg w-full object-cover object-center border-2" src="https://assets.justinmind.com/wp-content/uploads/2020/02/website-background-design-guide-768x492.png"><br>
          <h1 class="text-2xl font-bold">Web Design</h1>
          ehfvng<br>
        </a>
      </div>
      <% } %>

    </div>

    <footer>

      <%- include('../partials/footer') %>
    </footer>
</body>

</html>