<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/header_temp') %>
  </header>

  <main class="py-10 my-5">
    <div class="mx-auto w-1/2 lg:w-1/3  container p-8 my-4 bg-gray-100 rounded-lg text-gray-600">
      <h3 class="font-bold mb-4">Login</h3>

      <form action="/login" method="post" class="flex flex-col items-center text-xs">

        <label for="email_address">email</label>
        <input type="email" name="email_address" placeholder="Email" class="rounded-md p-2 m-1 mb-4 w-4/5 py-3"
          required />

        <label for="login_password">password</label>
        <input type="password" name="login_password" placeholder="Password" class="rounded-md p-2 m-1 mb-4 w-4/5 py-3"
          required />

        <button type="submit"
          class="text-gray-200 hover:text-white hover:opacity-90 border-2 rounded-lg bg-[var(--color1)] w-4/5 py-3">Submit</button>
      </form>
    </div>

  </main>

  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>