<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/header') %>
  </header>
  <main>
    <section class="explore text-gray-600 m-10">
      <h1 class="sm:text-3xl tex[var(--color5)] font-medium text-[var(--color5)]">Explore our categories:</h1>
        <div class="flex flex-wrap -m-1 justify-evenly py-10">
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-[url('https://images.unsplash.com/photo-1497091071254-cc9b2ba7c48a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGdyYXBoaWMlMjBkZXNpZ258ZW58MHx8MHx8&w=1000&q=80')] bg-cover p-2 rounded-lg">
              <h2 class="text-2xl text-white font-medium mb-4 p-6">Graphics & <br>Design</h2>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-[url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrUszBUIO9WX0WoR971XQX9g_FZk2KdSnGRA&usqp=CAU')] bg-cover p-2 rounded-lg">
              <h2 class="text-2xl text-white font-medium mb-4 p-6">Music &<br>Audio</h2>  
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class=" bg-[url('https://media.istockphoto.com/id/537331500/photo/programming-code-abstract-technology-background-of-software-deve.jpg?s=612x612&w=0&k=20&c=jlYes8ZfnCmD0lLn-vKvzQoKXrWaEcVypHnB5MuO-g8=')] bg-cover p-2 rounded-lg">
              <h2 class="text-2xl text-white font-medium mb-4 p-6">Programming & <br>Tech</h2> 
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-[url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqJ-wJQjUizsusbxpViBEAnVi-aUMoYSpaNA&usqp=CAU')] bg-cover p-2 rounded-lg">
              <h2 class="text-2xl text-white font-medium mb-4 p-6">Photography<br>&nbsp;</h2>
            </div>
          </div>
        </div>
        <div class="flex flex-wrap -m-1">
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-[url('https://wallpapers.com/images/featured/3wxim1i2egqb5my9.jpg')] bg-cover p-2 rounded-lg">
              <h2 class="text-2xl text-white font-medium mb-4 p-6">Animation<br>&nbsp;</h2>

            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-white bg-[url('https://www.translatedright.com/wp-content/uploads/2020/02/quality-legal-translation-service.jpg')] bg-cover p-2 rounded-lg">
              <h2 class="text-2xl text-white font-medium  mb-4 p-6">Writing & <br>Translation</h2>

            </div>
          </div>
          </div>
        </div>
      </div>
      </div>
  </section>
  </main>

  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>

</html>