<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
</head>

<body>
  <main>
  <header>
    <%- include('../partials/header') %>
  </header>

    <section class=" text-[var(--color4)] pb-10">
      <!-- <h2 class="text-4xl p-10 text-[var(--color1)]">Trending Today:</h2> -->
      <div class="main-carousel pb-16" data-flickity='{ "autoPlay": true }'>
  
        <div class="carousel-cell bg-cover p-2 w-[100%] h-[90vh] bg-[url('https://itchronicles.com/wp-content/uploads/2021/04/Optimized-Illustration-from-Adobe-Stock-for-ITC-Post-on-AI-in-Game-Development-scaled.jpeg')] object-cover mx-5 text-white text-4xl shadow-lg "> 
        <h1 class=" font-bold m-6">Game Development</h1>
        </div>
  
        <div class="carousel-cell bg-cover p-2 w-[100%] h-[90vh] bg-[url('https://img.freepik.com/free-photo/acoustic-guitar-close-up-beautiful-colored-background_169016-3530.jpg')] object-cover mx-5  text-white text-4xl shadow-lg ">
          <h1 class=" font-bold m-6">Music</h1>
        </div>
  
        <div class="carousel-cell bg-cover p-2 w-[100%] h-[90vh] bg-[url('https://cdn.pixabay.com/photo/2014/02/02/17/40/photographs-256888_1280.jpg')] object-cover mx-5 text-white text-4xl shadow-lg "> 
          <h1 class=" font-bold m-6">Photography</h1>
        </div>
  
        <div class="carousel-cell bg-cover p-2 w-[100%] h-[90vh] bg-[url('https://assets.entrepreneur.com/content/3x2/2000/20190612193425-GettyImages-1066987316-crop.jpeg?crop=16:9')] object-cover mx-5  text-white text-4xl shadow-lg ">
          <h1 class=" font-bold m-6">App Development</h1>
        </div>
  
        <div class="carousel-cell bg-cover p-2 w-[100%] h-[90vh] bg-[url('https://assets-prd.ignimgs.com/2022/03/28/36190303pixar-blogrolledit2-1648234304315-1648499015772.jpg')] object-cover mx-5  text-white text-4xl shadow-lg "> 
          <h1 class=" font-bold m-6">Animation</h1>
        </div>
  
        <div class="carousel-cell bg-cover p-2 w-[100%] h-[90vh] bg-[url('https://images.unsplash.com/photo-1516414447565-b14be0adf13e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1546&q=80')] object-cover mx-5 pt-[-50px] text-white text-4xl shadow-lg ">
          <h1 class=" font-bold m-6">Content Writing</h1>
        </div>
  
        <div class="carousel-cell bg-cover p-2 w-[100%] h-[90vh] bg-[url('https://blog.placeit.net/wp-content/uploads/2022/05/Famous-Logos-and-What-You-Can-Learn-from-Them.png')] object-cover mx-5  text-white text-4xl shadow-lg ">
          <h1 class=" font-bold m-6 ml-40 ">Logo Design</h1>
        </div>
  
        <div class="carousel-cell bg-cover p-2 w-[100%] h-[90vh] bg-[url('https://i.pinimg.com/736x/7d/d9/c2/7dd9c2ded4abab02c41b261d6b06f3ba.jpg')] object-cover mx-5  text-white text-4xl shadow-lg ">
          <h1 class=" font-bold m-6">Voice Over</h1>
        </div>
      </div>
    </section>



    <section class="explore text-gray-600 m-10">
      <h1 class="sm:text-3xl font-bold tex[var(--color5)] text-[var(--color5)]">Explore our categories:</h1>
      <div class="flex flex-wrap -m-1 justify-evenly py-10">

        <div class="xl:w-1/4 md:w-1/2 p-4">
          <a href="/mainpage/graphics-design">
            <div
              class="bg-[url('https://images.unsplash.com/photo-1497091071254-cc9b2ba7c48a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGdyYXBoaWMlMjBkZXNpZ258ZW58MHx8MHx8&w=1000&q=80')] bg-cover p-2 rounded-lg">
              <h2 class="text-2xl text-white font-medium mb-4 p-6">Graphics & <br>Design</h2>
            </div>
          </a>
        </div>

        <div class="xl:w-1/4 md:w-1/2 p-4">
          <a href="/mainpage/music-audio">
            <div
              class="bg-[url('https://media.uaudio.com/assetlibrary/b/l/blog_5_audio_mastering_tips_hero.jpg')] bg-cover p-2 rounded-lg">
              <h2 class="text-2xl text-white font-medium mb-4 p-6">Music &<br>Audio</h2>
            </div>
          </a>
        </div>

        <div class="xl:w-1/4 md:w-1/2 p-4">
          <a href="/mainpage/programming-tech">
            <div
              class=" bg-[url('https://media.istockphoto.com/id/537331500/photo/programming-code-abstract-technology-background-of-software-deve.jpg?s=612x612&w=0&k=20&c=jlYes8ZfnCmD0lLn-vKvzQoKXrWaEcVypHnB5MuO-g8=')] bg-cover p-2 rounded-lg">
              <h2 class="text-2xl text-white font-medium mb-4 p-6">Programming & <br>Tech</h2>
            </div>
          </a>
        </div>

        <div class="xl:w-1/4 md:w-1/2 p-4">
          <a href="/mainpage/photography">
            <div
              class="bg-[url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqJ-wJQjUizsusbxpViBEAnVi-aUMoYSpaNA&usqp=CAU')] bg-cover p-2 rounded-lg">
              <h2 class="text-2xl text-white font-medium mb-4 p-6">Photography<br>&nbsp;</h2>
            </div>
        </div></a>
      </div>


      <div class="flex flex-wrap -m-1">
        <a href="/mainpage/animation">
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div
              class="bg-[url('https://wallpapers.com/images/featured/3wxim1i2egqb5my9.jpg')] bg-cover p-2 rounded-lg">
              <h2 class="text-2xl text-white font-medium mb-4 p-6">Animation<br>&nbsp;</h2>

            </div>
        </a>
      </div>

      <div class="xl:w-1/4 md:w-1/2 p-4">
        <a href="/mainpage/writing-translation">
          <div
            class="bg-white bg-[url('https://www.translatedright.com/wp-content/uploads/2020/02/quality-legal-translation-service.jpg')] bg-cover p-2 rounded-lg">
            <h2 class="text-2xl text-white font-medium  mb-4 p-6">Writing & <br>Translation</h2>

          </div>
        </a>
      </div>

      </div>
      </div>
      </div>
      </div>
    </section>
  </main>

  <footer>
    <%- include('../partials/footer') %>
  </footer>
  <!-- <script src="https://unpkg.com/@themesberg/flowbite@latest/dist/flowbite.bundle.js"></script> -->
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <script>
    $('.main-carousel').flickity({
      cellAlign: 'left',
      contain: true,
      autoplay: true
    });
  </script>
</body>

</html>