<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <div class="bg-[url('https://media.uaudio.com/assetlibrary/b/l/blog_5_audio_mastering_tips_hero.jpg')] bg-cover">
    <header>
            <% if(loggedIn === true){ %>
                <%- include('../partials/header_category') %>
              <% } else{ %>  
                <%- include('../partials/header_category_nol') %>
             <% } %>
    </header>

    <div class="text-white font-bold items-center flex justify-center p-40 text-4xl h-40 pb-14">
        <h1>MUSIC & AUDIO</h1>
    </div>
    <br> <br> <br> <br>
    </div>

    <div>
        <div class="sub-categories flex flex-wrap justify-evenly font-light p-4">
            <div class="sc xl:w-1/5 md:w-1/2 p-4">
                <a href="/logo-design">
                    <img class="h-40 rounded-lg w-full object-cover object-center border-2"
                        src="https://i.pinimg.com/736x/7d/d9/c2/7dd9c2ded4abab02c41b261d6b06f3ba.jpg"><br>
                    <h1 class="text-2xl font-bold">Voice Over</h1>
                    ehfvng<br>
                </a>
            </div>
            <div class="sc xl:w-1/5 md:w-1/2 p-4">
                <img class="h-40 rounded-lg w-full object-cover object-center border-2"
                    src="https://img.freepik.com/free-photo/acoustic-guitar-close-up-beautiful-colored-background_169016-3530.jpg"><br>
                <h1 class="text-2xl font-bold">Session Musicians</h1>
                ehfvng<br>
            </div>
            <div class="sc xl:w-1/5 md:w-1/2 p-4">
                <img class="h-40 rounded-lg w-full object-cover object-center border-2"
                    src="https://assets-global.website-files.com/634e7aa49f5b025e1fd9e87b/637290ba8cbbf80d436a6e30_635047b84bc6791961c30825_Musical%20interludes.png"><br>
                <h1 class="text-2xl font-bold">Background Music</h1>
                ehfvng<br>
            </div>
            <div class="sc xl:w-1/5 md:w-1/2 p-4">
                <img class="h-40 rounded-lg w-full object-cover object-center border-2"
                    src="https://i2.wp.com/soundgirls.org/wp-content/uploads/2021/07/pasted-image-01.png?fit=1880%2C1253&ssl=1"><br>
                <h1 class="text-2xl font-bold">Audio Engineering</h1>
                ehfvng<br>
            </div>
        </div>
    </div>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>