<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <style>
    #modalOverlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 9999;
    }

    #modal {
      position: fixed;
      width: 90%;
      top: 55%;
      left: 50%;
      text-align: center;
      background-color: #fafafa;
      box-sizing: border-box;
      opacity: 0;
      transform: translate(-50%, -50%);
      transition: all 300ms ease-in-out;
    }

    #modalOverlay.modal-open #modal {
      opacity: 2;
      top: 50%;
    }
  </style>
</head>

<body>
  <header>
    <% if (loggedIn === true) { %>
      <%- include('../partials/header') %>
     <% } else { %>
    <%- include('../partials/header_nol') %>
    <% } %> 
  </header>

  <div>

    <div class="w-[99%] h-auto p-10  bg-slate-200 rounded-3xl m-auto mt-7">
      <div class="flex">


        <div>
          <img src="https://www.kindpng.com/picc/m/80-800188_random-user-random-icon-png-transparent-png.png"
            class="w-32 sm:mt-6 rounded-full" alt="">
          <h1></h1>
        </div>
        <div class="ml-12 h-40 mt-12">
          <h1 class="text-xl justify-self-center">Name : Lorem ipsum dolor sit.</h1>
          <p class="text-lg mt-2">Skills : Lorem, ipsum.</p>
          <p class="mt-2">Ratings: 5 star Lorem, ipsum.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="content flex align-middle">
    <div>
      <h1 class="text-2xl ml-20  mt-11">Lorem, ipsum.</h1>
      <p class="text-base ml-20 mt-10 w-2/4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius consequuntur
        officia asperiores, fugiat aspernatur hic quisquam sapiente cum sed similique? Est suscipit, sint facilis
        voluptate, amet possimus ea nulla ipsum a, tempora dolorum? Vero dolor esse mollitia repellendus nisi debitis
        possimus, sit aliquam? Incidunt perferendis, eius fuga aperiam mollitia dolorum?</p>
    </div>

    <div class="mr-40">
      <div class="w-max  h-auto mt-16 rounded overflow-hidden shadow-lg">
        <div class="font-bold text-xl mb-2 m-7">Price : $15-$35 <span class="text-sm">/hr</span></div>
        <div class="px-10 py-10 pt-4">

          <p class="text-gray-700 text-base ">
            Lorem ipsum dolor sit amet, </p>
          <hr class="my-2" size="2">
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet </p>
        </div>
        <div class="m-10 ">
          <% if (loggedIn === true) { %>
            <button type="button" id="open"
      class="w-52 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
      Contact Me
    </button>
     <% } else { %>
      <a href="/login">
      <button 
      class="w-52 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
      Contact Me
    </button>
  </a>
    <% } %> 
    
          <div id="modalOverlay" style="display:none;">
            <div id="modal" class="rounded-2xl max-w-2xl">
              <div class="flex py-2 w-full items-center justify-center border-b">
                <h1 class="pt-4 text-xl text-black font-semibold text-center pb-4">Contact Us</h1>
                <button id="close"
                  class="m-4 absolute top-0 right-1 hover:bg-gray-200 rounded-full p-1 focus:outline-none focus:ring-2 focus:ring-offset-0 focus:ring-black"
                  type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
              <div class="p-12">
                <div class=" items-center justify-center">
                  <div>
                    <!-- <h3>Content goes here</h3> -->

                    <div class="container mx-auto">

                      <!-- Section: Design Block -->
                      <section class=" text-center text-gray-800">
                        <div class="max-w-[700px] mx-auto px-3 lg:px-6">
                          <!-- <h2 class="text-3xl font-bold mb-12">Contact us</h2> -->
                          <form>
                            <div class="form-group mb-6">
                              <input type="text"
                                class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding  border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                id="exampleInput7" placeholder="Name">
                            </div>
                            <div class="form-group mb-6">
                              <input type="email"
                                class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out  m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                id="exampleInput8" placeholder="Email address">
                            </div>
                            <div class="form-group mb-6">
                              <textarea
                                class=" form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                id="exampleFormControlTextarea13" rows="3" placeholder="Message"></textarea>
                            </div>

                            <button type="submit" class=" w-full px-6 py-2.5 text-xs  uppercase rounded shadow-md  hover:bg-blue-500 text-blue-700 font-semibold hover:text-white  border border-blue-500  focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0  active:bg-blue-800 active:shadow-lg transition  duration-100 
 ease-in-out  tracking-widest">Send</button>
                          </form>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="mt-40">
    <%- include('../partials/footer') %>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script>
    $('#open').click(function () {
      $('#modalOverlay').show().addClass('modal-open');
    });

    $('#close').click(function () {
      var modal = $('#modalOverlay');
      modal.removeClass('modal-open');
      setTimeout(function () {
        modal.hide();
      }, 200);
    });
  </script>
</body>

</html>