<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <div class="bg-[url('https://img.freepik.com/premium-photo/programming-code-abstract-technology-background-software-developer-computer-script_34663-31.jpg')] bg-cover">
    <header>
        <% if(loggedIn === true){ %>
            <%- include('../partials/header_category') %>
          <% } else{ %>  
            <%- include('../partials/header_category_nol') %>
         <% } %>
    </header>

    <div class="text-white font-bold items-center flex justify-center p-40 text-4xl h-40 pb-14">
        <h1>PROGRAMMING & TECH</h1>
    </div>
    <br> <br> <br> <br>
    </div>

    <div>
        <div class="sub-categories flex flex-wrap justify-evenly font-light p-4">
            <div class="sc xl:w-1/5 md:w-1/2 p-4">
                <a href="/logo-design">
                    <img class="h-40 rounded-lg w-full object-cover object-center border-2"
                        src="https://www.mantralabsglobal.com/wp-content/uploads/2017/05/Android_thumb800.jpg"><br>
                    <h1 class="text-2xl font-bold">App Development</h1>
                    ehfvng<br>
                </a>
            </div>
            <div class="sc xl:w-1/5 md:w-1/2 p-4">
                <img class="h-40 rounded-lg w-full object-cover object-center border-2"
                    src="https://leverageedu.com/blog/wp-content/uploads/2019/11/Masters-in-Game-Development.jpg"><br>
                <h1 class="text-2xl font-bold">Game Development</h1>
                ehfvng<br>
            </div>
            <div class="sc xl:w-1/5 md:w-1/2 p-4">
                <img class="h-40 rounded-lg w-full object-cover object-center border-2"
                    src="https://online.stanford.edu/sites/default/files/inline-images/1600X900-How-does-blockchain-work.jpg"><br>
                <h1 class="text-2xl font-bold">IoT Development</h1>
                ehfvng<br>
            </div>
            <div class="sc xl:w-1/5 md:w-1/2 p-4">
                <img class="h-40 rounded-lg w-full object-cover object-center border-2"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnQJU8DS3DXwmEDSuBtpqNMkSzb7yiabDvrrC5cmA1d8IWOuA0WCy74wxq3xPV8oVH3DY&usqp=CAU"><br>
                <h1 class="text-2xl font-bold">Cloud Computing</h1>
                ehfvng<br>
            </div>
        </div>
    </div>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>