<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/header_temp') %>
  </header>

  <main>
    <div class="container mx-auto mt-4 p-1 flex flex-col items-center lg:flex-row lg:justify-between">
      <div class="mr-2">
        <h1 class="text-3xl md:text-5xl">Outsourcing work has never been easier.</h1>
        <p class="font-extralight my-3 mb-6">Join the community</p>
      </div>
      <div class="w-1/2 lg:w-1/3  container p-8 m-1 mb-2 bg-gray-200 rounded-lg text-gray-600">
        <h3 class="font-bold mb-4">Become a Freelancer</h3>

        <form action="/signupFreelancer" method="post" class="flex flex-col items-center text-xs">
          <label for="displayname">Display Name</label>
          <input type="text" name="displayname" id="dName" placeholder="Display-Name" class="rounded-md p-2 m-1 mb-4 w-4/5" required />

          <label for="description">Description</label>
          <textarea name="description" id="desc" placeholder="Description" rows="10" class="rounded-md p-2 m-1 mb-4 w-4/5 py-3" required></textarea>

          <button type="submit" class="text-gray-200 hover:text-white hover:opacity-90 border-2 rounded-lg bg-[var(--color1)] w-4/5 py-3">Submit</button>
        </form>
      </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer') %>
  </footer>

  <script>
    const firstNameInput = document.getElementById("fName");
    const lastNameInput = document.getElementById("lName");
    const passwordInput = document.getElementById("password");

    const firstNameRegex = /^[a-zA-Z]+$/;
    const lastNameRegex = /^[a-zA-Z]+$/;
    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    const passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/;

    firstNameInput.addEventListener("input", () => {
      if (!firstNameRegex.test(firstNameInput.value)) {
        firstNameInput.setCustomValidity("Please enter a valid first name !!");
        firstNameInput.reportValidity();
      } else {
        firstNameInput.setCustomValidity("");
      }
    });

    lastNameInput.addEventListener("input", () => {
      if (!lastNameRegex.test(lastNameInput.value)) {
        lastNameInput.setCustomValidity("Please enter a valid last name !!");
        lastNameInput.reportValidity();
      } else {
        lastNameInput.setCustomValidity("");
      }
    });

    emailInput.addEventListener("input", () => {
      if (!emailRegex.test(emailInput.value)) {
        emailInput.setCustomValidity("Please enter a valid email Address !!");
        emailInput.reportValidity();
      } else {
        emailInput.setCustomValidity("");
      }
    });

    passwordInput.addEventListener("input", () => {
      if (!passwordRegex.test(passwordInput.value)) {
        passwordInput.setCustomValidity("Password should be at least 8 characters long, and contain at least one digit, one lowercase and one uppercase letter.");
        passwordInput.reportValidity();
      } else {
        passwordInput.setCustomValidity("");
      }
    });
  </script>

</body>