<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/header_nol') %>
  </header>
  <div id="body">
    <div class="container" id="container">
      <div class="form-container sign-in-container">
        <form action="/signup" method="post">
          <img src="https://cdn-icons-png.flaticon.com/512/9930/9930450.png" alt="Avatar" height="90vh" alt="Avatar" />
          <h3>Register</h3>

          <input type="text" name="firstname" placeholder="First-Name" required/>
          <input type="text" name="lastname" placeholder="Last-Name" required/>
          <input type="text" name="email" placeholder="Email" required/>

          <input type="password" name="password" placeholder="Password" required />


          <a href="#">Forgot your password?</a>
          <button>Register</button>
        </form>
      </div>
    </div>
  </div>

  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>