<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <div class="bg-[url('https://img.freepik.com/free-photo/top-view-kraft-spiral-notebooks-with-pen-dark-background_140725-141658.jpg')] bg-cover">
    <header>
        <% if(loggedIn === true){ %>
            <%- include('../partials/header_category') %>
          <% } else{ %>  
            <%- include('../partials/header_category_nol') %>
         <% } %>
    </header>

    <div class="text-white font-bold items-center flex justify-center text-4xl p-32 h-40 pb-40">
        <h1>Writing & Translation</h1>
    </div>
    </div>

    <div>
        <div class="sub-categories flex flex-wrap justify-evenly font-light p-4">
            <div class="sc xl:w-1/5 md:w-1/2 p-4">
                <a href="/logo-design">
                    <img class="h-40 rounded-lg w-full object-cover object-center border-2"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_Ic009YLudrjiR7xQ29EcjlOXe_Ro-F97V3-CHh6rzmKn4y2_en8p0zn596Kdo9b9M5k&usqp=CAU"><br>
                    <h1 class="text-2xl font-bold">Content Writing</h1>
                    ehfvng<br>
                </a>
            </div>
            <div class="sc xl:w-1/5 md:w-1/2 p-4">
                <img class="h-40 rounded-lg w-full object-cover object-center border-2"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsr_7nW-JC9LFDvLvIZE7Vx2RvjZe_Q4iYYbOe85umY9YDb-PB1HKPFL6ixIql5mwIdb4&usqp=CAU"><br>
                <h1 class="text-2xl font-bold">Technical Writing</h1>
                ehfvng<br>
            </div>
            <div class="sc xl:w-1/5 md:w-1/2 p-4">
                <img class="h-40 rounded-lg w-full object-cover object-center border-2"
                    src="https://www.intertranslations.co.uk/wp-content/uploads/sites/2/2021/05/translation-techniques.jpg"><br>
                <h1 class="text-2xl font-bold">Translation</h1>
                ehfvng<br>
            </div>
            <div class="sc xl:w-1/5 md:w-1/2 p-4">
                <img class="h-40 rounded-lg w-full object-cover object-center border-2"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRB_5Bb7Dzflmsq9t-c5Rhvpqy-xYpiDjZvmH9df43JJFis53kmxBPwOf8lGntvciZnv_c&usqp=CAU"><br>
                <h1 class="text-2xl font-bold">Subtitling</h1>
                ehfvng<br>
            </div>
        </div>
    </div>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>